.navbar-item:hover {
    color: #506b38 !important; 
}
.card:hover{
	transform: scale(.9); 
}
body{
	background-color: #f3f4e7;
}
.button1{
	background-color: #faa94a;
	border-color: white;
	font-size: 1.5rem;
	color: white;
	border-radius: 50px;
	font-family: "Times New Roman", Times, serif;
}
.title{
	font-size: 1.5rem;
	font-family: "Times New Roman", Times, serif;
	color: #506b38; 
    font-weight: bold;
}
.navbar{
	background-color: #f3f4e7;
}
.sticky-navbar {
    position: sticky;
    top: 0;
    z-index: 1000; 
}
.giveaway-heading {
    font-size: 2.5rem;
    color: #506b38; 
    font-weight: bold;
    font-family: "Times New Roman", Times, serif;
}
.subtitle{
	color: #faa94a;
	font-size: 2rem;
	font-weight: bold;
	font-family: "Times New Roman", Times, serif;
	text-align: center;
}
.about-image {
    max-width: 100%;
    height: auto;
}

.about-section{
	background-color: #81a969;
	color: white;
	font-size: 1.1rem;
	border-radius: 150px 0 0 100px;
}
.about-title{
	color: #faa94a;
	font-size: 2rem;
	font-weight: bold;
	font-family: "Times New Roman", Times, serif;
	margin-left: 13%;
}
.contact-info{
	background-color: white;
}
.contact-column{
	background-color: #faa94a;
	border-radius: 10px;
	color: white;
	font-family: "Times New Roman", Times, serif;
}
.contact-column h1{
	font-size: 2rem;
}
.contact-column h6{
	font-size: 1.5rem;
}
.contact-column p{
	font-size: 1.3rem;
}
.contact-column a{
	color: white;
}
.contact-button{
	font-size: 1.3rem;
	background-color: #506b38;
	color: white;
	border-radius: 50px;;
}
.contact-button:hover{
	font-size: 1.3rem;
	background-color: #506b38;
	color: white;
	transform: scale(.9); 
}	
.button{
	background-color: #506b38;
	color: white; 
}
@media screen and (max-width: 768px) {
    .navbar-menu {
        display: none;
    }
    .navbar-menu.is-active {
        display: block; 
    }
}
.subtitleee{
	color: #506b38;
	font-size: 2rem;
	font-weight: bold;
	font-family: "Times New Roman", Times, serif;
	text-align: center;
}
.content{
	color: #506b38;
}
.price{
	color: #faa94a;
	font-size: 1rem;
	font-weight: bold;
	font-family: "Times New Roman", Times, serif;
}
.card{
	border-radius: 50px;
}
.card img{
	border-radius: 50px 50px 0 0;
}
.plantcare-subtitle{
	font-size: 2rem;
	font-family: "Times New Roman", Times, serif;
	color: #506b38; 
    font-weight: bold;
    text-align: center;
}
.column input{
	width: 200px;
	height: 50px;
	border-color: #81a969;
	border-radius: 10px;;
	background-color: white;
}
.column label{
	color:#506b38;
	font-size: 1rem;;
}
.column form{
	background-color: white;
	border-radius: 10px;
	border-color: #faa94a;
}